html {
    box-sizing: border-box;
}

body {
    font-family: $font-Sans;
    font-weight: 400;
}

.section {
    padding-top: 84px;
    padding-bottom: 84px;
    @include desctop {
        padding-top: 120px;
        padding-bottom: 120px;

    }

    &__general {
        max-width: 480px;
        height: 580px;
        padding-top: 208px;
        padding-bottom: 208px;
        margin-left: auto;
        margin-right: auto;
        background-color:rgba(25, 28, 38, 0.2);
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bgimg/generalmob.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    
            background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
                url(../img/bgimg/generalmob@2x.jpg);
    
        }

        @include table {
            padding-top: 40px;
            padding-bottom: 40px;
            max-width: 570px;
            height: 680px;
            margin: 0;
            background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bgimg/generaltable.jpg);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
        
                background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
                    url(../img/bgimg/generaltable@2x.jpg);
        
            }
        }

        @include desctop {
            max-width: 1070px;
            height: 680px;
            padding: 40px 0;
            margin: 0;
            background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/bgimg/generaltable.jpg);
        }

    }


    &__servic {

        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        height: 738px;
        background-image: url(../img/bgimg/servicmob.png), linear-gradient(#111319, #111319);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    
            background-image: url(../img/bgimg/servicmob@2x.png),
            linear-gradient(#111319, #111319);
    
        }

        @include table {
            padding-top: 100px;
            padding-bottom: 100px;
            height: 856px;
            background-image: url(../img/bgimg/servistable.png), linear-gradient(#111319, #111319);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
        
                background-image: url(../img/bgimg/servistable@2x.png),
                linear-gradient(#111319, #111319);
        
            }
        
        }

        @include desctop {
            padding-top: 120px;
            padding-bottom: 120px;
            height: 692px;
        }

    }

    &__team {
        background-color: #F7F7F7;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        @include table {
            padding-top: 100px;
            padding-bottom: 100px;
            height: 1962px;
        }

       
    }

    &__form {
        max-width: 1600px;
        height: 557px;
        background-color: $form-bg-color;
        margin-left: auto;
        margin-right: auto;
        @include table {
            padding-top: 100px;
            padding-bottom: 100px;
            height: 521px;
        }
        @include table {
            height: 634px;
            padding-top: 130px;
            padding-left: 216px;
        }
        @include desctop {
            padding-top: 120px;
            padding-bottom: 183px;
            height: 634px;
            
        }
    }

    &__address {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        height: 496px;
        background-image: url(../img/bgimg/bg-address.png), linear-gradient(#191C26, #191C26);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
        
            background-image: url(../img/bgimg/bg-address@2x.png),
            linear-gradient(#191C26, #191C26);
        
        }
        @include table {
            adding-top: 100px;
            padding-bottom: 100px;
            background-image: url(../img/bgimg/addresstable.png), linear-gradient(#191C26, #191C26);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
        
                background-image: url(../img/bgimg/addresstable@2x.png),
                linear-gradient(#191C26, #191C26);
        
            }
        }
        @include desctop {
            padding-top: 120px;
            padding-bottom: 120px;
            height: 634px;
        }
    }

   
    &--benefits {
        @include min-mobil {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        
        @include desctop {
            padding-top: 120px;
            padding-bottom: 120px;
        }

        
    }

    &__progress {
        padding-top: 100px;
        padding-bottom: 100px;
        @include desctop {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 31px;
    padding-right: 31px;
    margin-left: auto;
    margin-right: auto;

    @include mobil {
        width: 480px;
    }

    @include table {
        width: 768px;
    }

    @include desctop {
        width: 1170px;
        padding: 0;
    }

    &__general {
        @include table {
            max-width: 570px;
            padding-left: 20px;
            padding-right: 20px;

            &--hero {
                width: 360px;
                margin: 156px auto 0 auto;

                
            }
        }
        
        @include desctop {
            max-width: 1070px;
            padding-left: 100px;
            padding-right: 20px;
            &--hero {
                margin-top: 184px;
                width: 444px;
            }

        }

        &--desctop {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            @include desctop {
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
        &--flex {
            max-width: 530px;
           display: flex;
           align-items: baseline;
           justify-content:space-between; 
            @include desctop {
                max-width: 950px;
            }
        }
          
    }

    &__header {
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include min-table {
            width: 90px;
            height: 680px;
            flex-direction: column;
            padding: 32px 11px 40px 11px;
        }

    }

    &__general--socials {
        @include max-table {
            display: none;
        }

    }

    &__servic {
        padding: 0 31px;

        @include table {
          padding: 0 39px;
        }
        @include desctop {
            width: 1170px;
            padding: 0;
        }
    }

    &--benefits {
        @include min-table {
            display: flex;
            padding: 0 39px;
        }
    }

    &__progress {
        padding: 0 31px;
        @include table {
            padding: 0 39px;
        }
        @include desctop {
            display: flex;
            width: 1170px;
            padding-left: 100px;
            padding-right: 70px;
        }
    }

    &__team {
        @include table {
            padding: 0 159px;
        }
        
    }

    &__form {
        @include table {
            padding: 0 39px;
        }
        @include desctop {
            padding-right: 30px;
            max-width: 800px;
            
        }

        
    }

    &__address {
        @include table {
            display: flex;
            
        }
        @include desctop {
            max-width: 800px;
        }
    }

    &__work {
        @include table {
            margin-left: 30px;
            padding-top: 90px;
        }
    }

    &__img {
        margin-right: 30px;

        @include desctop {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        
        
    }

    &__benefits-descr {
        @include desctop {
            width: 470px;
        }
    }
    &__address {
        @include desctop {
            padding-left: 100px;
          
            
        }
    }
    

    

    
}


.nav {
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
 
    @include max-table {
        display: none;
    }
    &__list {
        margin: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        :not(:last-child) {
            margin-right: 16px;
            @include desctop {
                margin-right: 30px;
            }
        }
    }
    &__link {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.08em;
        color: $primer-text-color;
        text-decoration: none;
        padding: 16px 0;      
        @include transition (all);

        &:hover,
        &:active {
            color: $btn-border-color;
        }



           
        
    }
}

.title {
    width: 100%;
    margin: 0 0 20px 0;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    font-family: $font-Releway;
    color: $primer-text-color;

    @include max-mobil {
        font-size: 26px;
        line-height: 1.1;
    }

    @include desctop {
        font-size: 72px;
        line-height: 1.18;
    }

    &__descr {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 0 20px 0;
        padding: 0;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $secondary-text-color;

        &::before {
            content: "";
            width: 60px;
            height: 1px;
            background-color: currentColor;
            margin-right: 20px;
        }
    }

    &__text {
        width: 100%;
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.02em;
        color: $servic-text-color;
        @include desctop {
            width: 358px;
            font-size: 18px;
            line-height: 1.67;
        }
    }

    &__list {
        @include max-table {
            display: none;
        }
    }
   
}

.scrol-list {
    @include max-table {
        display: none;
    }
    margin: 173px 0 0 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    :not(:last-child) {
        margin-right: 54px;
    }
    @include desctop {
        margin: 144px 0 0 0;
    }

    &__item {
        list-style: none;
      

        
    }
    &__link {
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: rgba(157, 164, 189, 0.6);
        text-decoration: none;
        position: relative;
        padding: 8px 0;
        @include transition (all);

        &:hover,
        &:active {
            color: $primer-text-color;
        }

        &::after {
            display: block;
            position: absolute;
            content: "";
            bottom: 0;
            margin-top: 8px;
            width: 100%;
            height: 2px;
            background-color: currentColor;
            @include transition (all);

            .scrol-list__link:hover &,
            .scrol-list__link:active & {
                background-color: $primer-text-color;
            }

    
        }

    }
}





